/* Eléments principaux de la page */

body
{
    font-family: 'Quattrocento Sans', sans-serif;
}

h1 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 2em;
}

h2 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 1.8em;
}

p {
  font-size: 1.2em;
}

.important {
  font-family: 'Petit Formal Script', cursive;
  font-weight: bold;
}

/* Header */

header {
	width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
  padding-top: 5px;
}

#links li a i {
  color: black;
  font-size: 1.8em;
  padding-right: 4px;
}

#menu li a {
  color: black;
  font-size: 1.2em;
  padding-right: 10px;
}

nav li {
	margin-top: 24px;
}

header a:hover {
	opacity: 0.7;
	text-decoration: underline;
  font-weight: bold;
}

hr {
  border-color: #a9a8af;
  border-width: 1.4px;
}

/* Quote */

#quote {
	margin-top: 120px;
	margin-bottom: 20px;
}

#quote p {
	font-size: 1.6em;
}

#quote p i {
  opacity: 0.18;
}


/* Carrousel */

.carousel {
  height: 500px;
  width: 800px;
  margin-bottom: 60px;
}

.carousel .item {
  height: 500px;
  background-color: grey;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.featurette-heading {
    font-size: 50px;
  }

.carousel-indicators li {
  border: 1px solid white;
}

.carousel-indicators li.active {
  background-color: white;
 }

.carousel a {
  position: absolute;
  top : 225px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 40px;
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* Bio */

#bio {
	width: 100%;
	padding-top: 20px;
}

#img1 {
  width: 238px;
}

#img2 {
  width: 280px;
}

#bio_part1, #bio_part2 {
  margin-bottom: 25px;
}

#bio_part2 a {
  color: black;
  font-weight: bold;
}

#bio_part2 a:hover {
  opacity: 0.7;
  text-decoration: underline;
  font-weight: bold; 
}

/* Instagram */

#instagram {
	width: 100%;
	margin-bottom: 20px;
}

#instafeed {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  
a {
	position: relative;
    width: 16.5%;
    height: 16.5%;
    padding-right: 6px;
}

a:hover {
  opacity: 0.7;
}
   
img {
	display: block;
    width: 100%;
    height: 100%;
}
  
/* Footer */

footer {
	width: 100%;
	color: white;
	background-color: #000000;
	padding-top: 10px;
}

footer a {
	font-weight: bold;
  color : white;
}

footer a:hover {
	color: white;
	opacity: 0.6;
	text-decoration: none;
}

#links2 li a i {
  padding-top: 8px;
  font-size: 1.6em;
  padding-right: 4px;
}

/* Formulaire */

#form {
  width: 100%;
  padding-top: 100px;
  margin-bottom: 20px;
}

#form img {
  width: 197px;
}

/* Media Queries */




